.schedule {
	border:2px black solid;
}

.logo {
	height: 75%;
	width: 75%;
}

.league_logo {
	height:75%;
	width:50px;
	display: inline-block;
}

.schedule_input {
	margin-bottom: 10px;
}

.row-centered {
    text-align:center;
}

.league_header {
	height:100px;
	display: inline-block;
	vertical-align: baseline;
}

.game {
	border:1px black solid;
	margin-top: 10px;
	margin-bottom: 10px;
	padding:10px;
	padding-right:25px;
}

.At_sign {
	font-size:20pt;
}

.League_Schedule {
	border:2px gray dotted;
	margin:20px;
}

.game-info {
	border:1px black solid;
	margin:10px;
	position:relative;
}

.game-info span {
	font-size: 18pt;
	position:absolute;
	top:40%;
}

.home-info {
	border:1px gray dashed;
	display:inline-block;
	width:40%;
	margin-left:30px;
}

.home-info img {
	height:75%;
	width:25%;
	padding:10px;
	float:right;
}

.away-info {
	border:1px gray dashed;
	display:inline-block;
	width:40%;
	margin-right:30px;
}

.away-info img {
	height:75%;
	width:25%;
	padding:10px;
	float:left;
}

.game-info p {
	font-size: 18pt;
	position:absolute;
	top:40%;
	display: inline-block;
	margin:0px;
}

.team-text {
	padding:5px;
	display:inline-block;
}

.vertical-align {
    display: flex;
    align-items: center;
}